<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.codedom/>
  <appSettings/>
  <connectionStrings>
    <add name="Con1" connectionString="Server =nppdisqlprod.cwyoudodw0z2.us-west-2.rds.amazonaws.com,1433;Database=PDI_SALESTRACING_RPT_T;User ID = dbsvc; Password = AvprcnxCQ1" providerName="System.Data.SqlClient"/>
    <add name="Con2" connectionString="Server =nppdisqlprod.cwyoudodw0z2.us-west-2.rds.amazonaws.com,1433;Database=PDI_SALESTRACING_RPT_T;User ID = dbsvc; Password = AvprcnxCQ1" providerName="System.Data.SqlClient"/>
    <add name="Database_1.My.MySettings.PDI_SALESTRACINGConnectionString" connectionString="Data Source=NJ-SALESDBDEV;Initial Catalog=PDI_SALESTRACING;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>